/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-image: var(--heder-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* фон заголовка*/
.header {
  display: grid;
  background-image: var(--heder-bg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding: 10px;
  margin-bottom: 40px;
  position: relative;
  block-size: 100vh;
}
@media (min-width: 768px) {
  .header {
    padding: 20px;
  }
}
/*уголки*/
.decorated-zone::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-corner);
  border-right: 1px solid var(--color-corner);
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (min-width: 768px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
}
.decorated-zone::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-corner);
  border-left: 1px solid var(--color-corner);
  position: absolute;
  bottom: 10px;
  left: 10px;
}
@media (min-width: 768px) {
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}
/* стили для rec*/
.rec {
  display: var(--rec-display);
  right: 10px;
  top: 10px;
  position: absolute;
  color: var(--accent-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  padding-right: 27px;
}
.rec::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--accent-color);
  position: absolute;
  right: 8px;
  top: 8px;
  box-shadow: 0px 0px 4px var(--accent-color);
}
@media (min-width: 768px) {
  .rec {
    top: 20px;
    right: 20px;
  }
}
/* cтили для меню*/
.header__theme-menu-list {
  display: grid;
  justify-content: end;
  margin-top: 65px;
  gap: 10px;
  list-style: none;
}
@media (min-width: 768px) {
  .header__theme-menu-list {
    margin-top: 171px;
  }
}
@media (min-width: 1024px) {
  .header__theme-menu-list {
    grid-auto-flow: column;
    justify-content: center;
    margin: 0;
  }
}
/*стили для кнопки*/
.header__theme-menu-button {
  color: var(--button-text);
  background-color: transparent;
  font-family: var(--main-font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0px 13px;
  outline: transparent;
  border: none;
  text-transform: lowercase;
  text-align: center;
  min-height: 26px;
  appearance: none;
}
.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}
.header__theme-menu-button:focus {
  border-bottom: 1px solid currentColor;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--color-side);
}
/*заголовок сайта*/
.decorated-title {
  color: var(--main-title-color);
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}
@media (min-width: 768px) {
  .decorated-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
.header_title {
  text-shadow: 4px 4px 0 var(--accent-color);
}
@media (min-width: 768px) {
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }
}
@media (min-width: 1024px) {
  .header_title {
    padding-top: 155px;
  }
}
/*подзаголовок*/
.sub-title {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}
@media (min-width: 768px) {
  .sub-title {
    max-width: 50%;
    justify-self: end;
  }
}
/*основной материал*/
.main {
  display: grid;
  gap: 31px;
}
/*стили для первой и третьей секции*/
.section-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .section-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 236px auto;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .section-1 {
    grid-template-columns: 315px auto;
  }
}
/* стили второй секции*/
.section-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .section-2 {
    grid-template-columns: 1fr;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}
.main-list-2 {
  display: grid;
  list-style: none;
}
@media (min-width: 1024px) {
  .main-list-2 {
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    gap: 20px;
  }
}
/*заголовок секции*/
.section-title {
  color: var(--button-text);
  font-family: var(--main-font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .section-title {
    max-width: 236px;
  }
}
@media (min-width: 1024px) {
  .section-title {
    max-width: 315px;
  }
}
/* подзаголовок секции*/
.title-decor {
  color: var(--header-text-color);
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
.main-list {
  list-style: none;
}
/* основной текст*/
.section-text {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  padding-top: 10px;
  padding-bottom: 20px;
}
/*ссылка*/
.link {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}
.link:hover {
  border-bottom: 1px solid var(--text-color);
}
.link:focus {
  border: 1px solid var(--text-color);
}
/*заголовки третьей секции*/
.title-accent {
  margin-bottom: 20px;
}
/* секция с картинками*/
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-main-pic {
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .section-main-pic {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main-pic {
  display: grid;
  gap: 5px;
  list-style: none;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .main-pic {
    padding-top: 20px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 192px 230px 318px;
    align-items: stretch;
    grid-template-areas:
      "a a b"
      "c d b"
      "c e e";
  }
  .pic-item:nth-child(n + 1) {
    grid-area: a;
  }
  .pic-item:nth-child(n + 2) {
    grid-area: b;
  }
  .pic-item:nth-child(n + 3) {
    grid-area: c;
  }
  .pic-item:nth-child(n + 4) {
    grid-area: d;
  }
  .pic-item:nth-child(n + 5) {
    grid-area: e;
  }
}
@media (min-width: 1024px) {
  .main-pic {
    grid-template-rows: 268px 315px 428px;
  }
}
.pic {
  display: block;
  height: 100%;
}
/* подвал*/
.footer {
  display: grid;
  position: relative;
  margin-top: 40px;
  padding: 10px;
  justify-content: center;
  block-size: 100vh;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    min-height: 1024px;
    margin-top: 60px;
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .footer {
    min-height: 768px;
  }
}
.footer_title {
  text-shadow: 2px 2px 0 var(--accent-color);
}
